
*-checkpoint.ipnyb

*.-checkpoint.ipynb
.ipynb_checkpoints
*-checkpoint.ipynb
*.html
statprof/flamegraph.svg
statprof/statprofiler.css
data_clusters.csv
*.csv
Parameters.xlsx
*.png
Derivada_teste/.ipynb_checkpoints/Erros-padrao-checkpoint.ipynb
Parallel/.ipynb_checkpoints/coupled_sim_anl_100cores_1cluster-checkpoint.ipynb
Parallel/.ipynb_checkpoints/coupled_sim_anl_ncores_duplas-checkpoint.ipynb
Parallel/.ipynb_checkpoints/coupled_sim_anl_ncores_duplas-cd-checkpoint.ipynb
Derivada_teste/.ipynb_checkpoints/Erros-padrao-checkpoint.ipynb
Derivada_teste/.ipynb_checkpoints/Erros-padrao-checkpoint.ipynb
Parallel/.ipynb_checkpoints/coupled_sim_anl_ncores_duplas-checkpoint.ipynb
*checkpoint.ipynb
Parallel/.ipynb_checkpoints/coupled_sim_anl_ncores_duplas-checkpoint.ipynb
